<%- model_class = User -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>

<table class="table table-striped">
  <!-- thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead -->
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate %>
</div>