<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= csrf_meta_tag %>
    <!-- %= render 'layouts/stylesheets' % -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- %= javascript_include_tag "jqery-1.9.1.min" % -->

    <!-- fixes the responsve design behavior on mobile devices, see http://railscasts.com/episodes/328-twitter-bootstrap-basics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
        <!-- section class="round" -->
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key == :success ? "success" : "error"%>">
              <%= value %>
            </div>
          <% end %>
        <%= yield %>
        <!-- /section -->
      <%= render 'layouts/footer' %>
      <!-- %= debug(params) if Rails.env.development? % -->
    </div>
  </body>
</html>